.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  // Full viewport height
  background-color: #f5f5f5;  // A light grey background

  .card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  // Slightly softer shadow
    border-radius: 8px;
    background-color: #fff;  // Ensuring the card is clearly visible on bg
    padding: 2rem;  // Sufficient padding around the form elements
    width: 100%;  // Full width to control with max-width
    max-width: 400px;  // Max-width for the card to maintain aesthetics on larger screens
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .university-logo {
    width: 50px; // Set appropriate size for the logo
    margin-right: 10px;
  }
}